body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    background-color: #f5f5f5
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: #666;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

input{
    border: 0;
    outline: none;
}

img{
    vertical-align: middle;
}

.pull-right{
    float:right !important;
}

.pull-left{
    float:left !important;
}

.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    clear:both;
}